* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

main {
  display: flex;
  gap: 10px;
}
.contenedor_mapa {
  position: relative;
  width: 80%;
}

#map {
  height: calc(100vh - 60px);
  z-index: 0;
}

#map2 {
  z-index: 1;
  height: 30%;
  width: 100%;
  border: #000 1px solid;
}

.norte {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  z-index: 1;
  width: 65px;
}

.info {
  padding: 10px;
  width: 20%;
}

.info section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.legend_centroide {
  position: absolute;
  width: 200px;
  bottom: 5px;
  right: 5px;
  z-index: 1000;
  background: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 1.5;
}

.legend_coropleta {
  position: absolute;
  width: 200px;
  bottom: 180px;
  right: 5px;
  z-index: 1000;
  background: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 1.5;
}

.legend_centroide h4,
.legend_coropleta h4 {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.legend_centroide div,
.legend_coropleta div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend_centroide i {
  background-color: #ff0000;
}

.legend_centroide i,
.legend_coropleta i {
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
}

.leaflet-control-scale,
.leaflet-control-zoom {
  display: none;
}

.circulo {
  border-radius: 999px;
  background-color: red;
}
